body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1{
    color: white;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    bottom: 30px;
}

header a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;

}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

nav ul li a.activo{
    background-color: #4c76a5;
}

footer{
    background-color: #ddd;
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color:#2e64a1;
    font-weight: 300;
}

.homeimg img{
    max-width: 100%;

}

.columnas{
    display: flex;
    gap: 10px;
}

.bienvenidos{
    width: 75%;

}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ddd;
    padding: 10px;

}

.testimonio .cita{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.testimonio .autor{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 12px 0;

}

/*/////////FIN HOME/////////////*/

/*/////////INICIO NOSOTROS/////*/

.historia{
    font-size: 13px;
}

.personas{
    display: flex;
    justify-content: space-between;
}

.persona{
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 18%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 5px;

}

.persona img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 2px black;
    margin-bottom: 10px;
}

.persona h5,
.persona h6{
    color: #2e64a1;
    font-weight: 400;
    margin: 0;
}

.persona h5{
    font-size: 14px;
}

.persona h6{
    font-style: italic;
}

.persona p{
    font-size: 11px;
    text-align: left;
    padding: 0 3px;
}

/*/////////FIN NOSOTROS/////////////*/

/*/////////INICIO CONTACTO/////*/

h3{
    color: #2e64a1;
    font-weight: 400;
    font-size: 22px;
}

.contacto{
    display: flex;
    gap: 50px;
}

.contacto div{
    width: 100%;
}

.datos p{
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
    list-style: none;
}

.formulario p{
    display: flex;
}
.formulario input,
.formulario textarea{
    width: 70%; 
    gap: 20px;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario p label{
    min-width: 80px;
   }

.formulario textarea{
    height: 150px;
    resize: none;
}

.arriba{
    height: 100px;
}

.formulario p:nth-child(4){
    align-items: start;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    margin-left: 80px;
}

.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
    transition: all 0.5s ease;
}

#cuantoscaracteres{
    font-size: 12px;
    margin-bottom: 20px;
    
}

#gracias{
    font-size: 22px;
    margin-left: 170px;
    padding: 30px;
    width: 68%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/*Fin contactos*/

/*/////////Inicio servicios/////////////*/

.servicio{
    margin: 30px 0;
}

.tipo1,
.tipo2{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;
    display: flex;
    margin: 15px 0 ;
    display: flex;
}

.tipo2{
    flex-direction: row-reverse;
}

.texto{
    padding: 20px;
}
.tipos h3{
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    justify-content: start;
    margin: 0 0 10px 0;
}

hr{
    height: 1px;
    background-color: #2e64a1;
}

.tipos p{
    font-size: 14px;
}
.tipos img{
    border-radius: 10px;
    margin: 17px 10px;
}

/*/////////FIN servicios/////////////*/

/*/////////INICIO GALERIA/////////////*/

.galeria{
    display: flex;
    flex-wrap: wrap;
}

.galeria img{
    width: 16%;
    border: 1px solid #999;
    padding: 5px;
    margin: 20px 20px 20px 0;
    
}

.galeria img:hover{
    background-color:#6da9ed;
    transition: all 0.3s ease;
}

.boton{
    display: inline-flex;
    align-items: center;
}
/*/////////FIN GALERIA/////////////*/

@media screen and (max-width:768px) {
    main.holder{
        padding: 0 30px;
    }
    nav ul.holder{
        padding: 0;
    }

}

@media screen and (max-width:550px) {
    .columnas{
        flex-direction:column;
    }

    .bienvenidos,
    .testimonios{
        width: 100%;
    }

    .personas{
        flex-wrap: wrap;
    }

    .persona{
        width: 47%;
        margin-bottom: 20px;
    }

    .contacto{
        flex-direction: column;
    }

    header .holder{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1{
        position: static;
    }

    nav ul.holder{
        flex-direction: column;
    }
}
